page-home {
 
  .logoicon {
    text-align: center;
    .one {
      width: 40%;
    }
  }
  .pt0 {
    padding-top: 0px;
  }
  .secion {
    text-align: center;
    border-bottom: solid 2px #862327;
    p {
      font-size: 16px;
      margin: 5px 0px 8px 0px;
      color: #862327;
    }
  }

  .forms {
    margin-top: 15px;
    .item {
      padding-left: 0px;
    }
    .mt20
    {
      margin-top: 20px;
    }
  }
  .sbmtbtn {
    font-size: 16px;
    background-color: #862327;
    margin-top: 20px;
    border-radius: 5px;
  }
  .signup {
    text-align: center;
    font-size: 16px;
    color: #3562d6;
    text-decoration: underline;
  }

}
