<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Órdenes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="p0">
    <ion-row class="logoicon">
      <ion-col col-12 class="p0">
        <img class="one" src="./assets/imgs/snappy-logo.png" alt="upload" />
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="secion">
      <ion-col col-12>
        <p>INICIAR SESIÓN</p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="forms">
    <ion-row>
      <ion-col col-12>

        <ion-item>
          <ion-label stacked>Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="emailLogin"></ion-input>
        </ion-item>

        <ion-item class="mt20">
          <ion-label stacked>Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="passwordLogin"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button  class="btn-success btn-block" ion-button full (click)="login()">INGRESAR</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p class="signup" [navPush]="ForgotPassword">Restablecer contraseña ?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
