// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.btn-block {
	display: block;
	width: 100%;
}
.btn-success {
	background-color: $darkRedColor;
	letter-spacing: 1.2px;
	color: #fff;
	font-weight: bold;
	-moz-user-select: none;
	background-image: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;
}
.header {
	background-color: $darkRedColor;
	text-align: center;
	img {
		width: 30%;
	}

	.bar-buttons {
		position:absolute;
		.bar-button {
			color:#fff !important;
		}
		&.start {
			left: 0;
			top:16px;
		}
		&.end {
			right:0;
			top:16px;
		}
	}

	.toolbar {
		min-height: 56px !important;

		.toolbar-background {
			background: $headerBackgroundColor;
		}
		.toolbar-title {
			color: #fff;
			// font-size: 30px;
		}
		.back-button {
			position: absolute;
			color: #fff !important;
			z-index:1111;
		}
	}

}
