<ion-header>
    <ion-header>
        <ion-navbar>
            <ion-title>Órdenes</ion-title>
        </ion-navbar>
    </ion-header>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label stacked>RESET PASSWORD</ion-label>
            <ion-input type="text" [(ngModel)]="email" [placeholder]="'EMAIL ADDRESS'"></ion-input>
        </ion-item>

        <button class="btn-success btn-block" (click)="forgotPassword()">SEND</button>

    </ion-list>
</ion-content>
