page-forgotpassword {
	.scroll-content {
		margin-top: 50px;
	}
	.item {
		margin-bottom: 11px;
		border-radius: 3px;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0;
		color: $tertiaryTextColor;
		padding-bottom: 10px;
		.item-inner {
			border-bottom: none !important;
			box-shadow: none !important;
			.input {
				border-bottom: 1px solid #666;
				margin-left: 16px;
			}
			.label {
				padding: 0 8px;
				font-size: 15px;
				white-space: normal;
			}

		}

	}
}
