header {
	background-color: $darkRedColor;
	text-align: center;
	img {
		width: 30%;
	}

	.bar-buttons {
		position:absolute;
		.bar-button {
			color:#fff !important;
		}
		&.start {
			left: 0;
			top:16px;
		}
		&.end {
			right:0;
			top:16px;
		}
	}

	.toolbar {
		min-height: 56px !important;

		.toolbar-background {
			background: $headerBackgroundColor;
		}
		.toolbar-title {
			color: #fff;
			// font-size: 30px;
		}
		.back-button {
			position: absolute;
			color: #fff !important;
			z-index:1111;
		}
	}

}
