<ion-navbar hideBackButton="{{hideBackButton}}">
	<ion-buttons class="start">
		<button ion-button icon-only (click)="onLogout()" *ngIf="showLogout">
			<ion-icon name="md-power"></ion-icon>
		</button>
	</ion-buttons>
	<ion-title>Órdenes</ion-title>
	<ion-buttons class="end">
		<button ion-button icon-only (click)="onRightBtnClick()" *ngIf="showRefreshBtn">
			<ion-icon name="md-refresh"></ion-icon>
		</button>
	</ion-buttons>
</ion-navbar>
