<!--
  Generated template for the LocationtrackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Órdenes</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
	<div #map id="map"></div>
</ion-content>
