page-details {
  .scroll-content {
    padding: 10px !important;
  }

  .p0 {
    padding: 0px;
  }

  .details {
    margin-top: 8px;

    p {
      margin: 4px 0px 0px 0px;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .status {
    text-align: center;

    .icon-container, p {
      .active {
        color: green;
      }

      .inactive {
        color: #f00;
      }

      margin: 3px 0px;
      font-size: 14px;
      //font-weight: bold;
      text-align: center;

      .icon {
        font-weight: bold;
        font-size: 18px;
      }

      .checks {
        width: 18px;
      }
    }

    .toggle {
      .toggle-icon {
        background-color: rgba($headerBackgroundColor, 0.5);

        .toggle-inner {
          background-color: $headerBackgroundColor;
        }
      }
    }
  }

  .srch {
    .input {
      //width: 100%;
      border: solid 1px #f4f4f4;
    }
  }

  .padding_top {
    padding-top: 7px;
  }

  .yellows {
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
  }

  .date {
    p {
      margin: 10px 0px !important;
    }
  }

  .delirydtls {
    p {
      margin: 5px;
      font-size: 14px;
    }

    .rigt {
      text-align: center;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0;
      border-left: solid 1px #f4f4f4;

      p {
        margin: 0px;
      }

    }

    .row {
      border: solid 1px #f4f4f4;
    }
  }

  .bnone {
    border: none !important;
    padding-top: 4px;
  }

  .adds {
    color: green;

    .icon {
      //border-left: solid 1px;
      padding: 5px;
      font-size: 35px;
    }
  }

  .button.success {
    background-color: green;
    font-size: 14px;
    padding: 5px 10px;
  }

  .product-details {
    font-size: 12px;
  }

  .custmardetail {
    margin-bottom: 10px;

    p {
      font-size: 14px;
    }
  }

  .loder-container {
    width: 100%;
    text-align: center;
    padding: 8px;

    ion-spinner {
      transform: scale(2, 2);
    }
  }

  .toggle-container {
    .item-inner {
      border-bottom: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input-wrapper {
      display: none;
    }
  }

}
