<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons class="start">
      <button ion-button icon-only (click)="onLogout()">
        <ion-icon name="md-power"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Órdenes</ion-title>
    <ion-buttons class="end">
      <button ion-button icon-only (click)="onOrderRefresh()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <img class="one" src="././assets/imgs/user-prof.png" alt=""/>
      </ion-col>
      <ion-col col-6 class="details">
        <p>Nomber de usuario :</p>
        <p>{{user.name + " " + user.l_name}}</p>
      </ion-col>
      <ion-col col-4 class="status">
        <div class="icon-container" *ngIf="!userStatusUpdating">
          <!--<ion-icon name="checkmark"></ion-icon>-->
          <!-- <img class="checks" src="././assets/imgs/check.png" alt="" /> -->
          <ion-icon name="md-checkmark" class="active" *ngIf="userStatus"></ion-icon>
          <ion-icon name="ios-radio-button-on" class="inactive" *ngIf="!userStatus"></ion-icon>

          <p>{{userStatus ? 'Ready for take order' : 'Offline'}}</p>

        </div>
        <ion-spinner name="dots" *ngIf="userStatusUpdating"></ion-spinner>

        <ion-item no-padding no-margin class="toggle-container">
          <ion-toggle disabled="{{userStatusUpdating}}" [(ngModel)]="userStatus"
                      (ionChange)="userStatusChanged()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="p0">
    <ion-row class="srch">
      <ion-col col-12 class="pt0">
        <ion-searchbar (ionInput)="searchOrders($event)" [(ngModel)]="searchInput" autocomplete="off"
                       autocorrect="off" placeholder="Search orders"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="loder-container">
    <ion-spinner name="dots" *ngIf="showOrderRefreshSpinner"></ion-spinner>
  </div>

  <ion-grid class="delirydtls" *ngFor="let grouped of groupedOrders">

    <ion-row>
      <ion-col col-4 class="date">
        <p>{{getDateObj(grouped.date) | date:'dd-MM-yyyy'}}</p>
      </ion-col>
      <ion-col col-6>
        <ion-row class="bnone">
          <ion-col col-2 class="p0">
            <p><img class="yellows" src="././assets/imgs/yellow.png" alt=""/></p>
          </ion-col>
          <ion-col col-10 class="p0 padding_top">
            <p class="two"> {{grouped.orders.length}} Mensajes </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2 class="rigt">
        <!--<p class="adds"> <ion-icon (click)="showDeliverySheet=true"  name="add-circle"></ion-icon></p>-->
        <p class="adds" (click)="grouped.show=!grouped.show">
          <ion-icon name="add-circle"></ion-icon>
        </p>
      </ion-col>
    </ion-row>


    <ion-row class="spin selecttraveler" (click)="grouped.show=false" *ngIf="grouped.show">
      <ion-col col-12>
        <ion-grid class="p0">
          <ion-row class="custmardetail" *ngFor="let order of grouped.orders">
            <ion-col col-12 class="">
              <p><b>Numero de orden</b> : {{order.id}}</p>
              <p><b>Descripción</b>: {{order.order_notes}} </p>
              <p>
                <b>Costo</b>: ${{getOrderSubTotal(order.products)}}
                Envio: ${{order.delievery_price}}
                Total: ${{getOrderTotal(order)}}
              </p>
              <p><b>Dirección</b>: {{order.shipping_address.house_no
              + ", " + order.shipping_address.colony_street + " " + order.shipping_address.landmark + " " + order.shipping_address.other + " " + order.shipping_address.city_name}}
              </p>
              <p><b>Nombre</b>: {{order.shipping_address.name}} </p>
              <!-- <p><b>Teléfono</b>: {{order.shipping_address.mobile}} </p> -->
              <p><b>Proveedor</b>: {{order.provider_fname + " " + order.provider_lname}} </p>
              <p><b>Negocio</b>: {{order.business_name}} </p>
              <p><b>Detalle de orden</b>:</p>

              <ion-grid class="product-details">
                <ion-row>
                  <ion-col col-3>
                    <b>Product Name</b>
                  </ion-col>
                  <ion-col col-3>
                    <b>Payment Method</b>
                  </ion-col>
                  <ion-col col-2>
                    <b>Quantity</b>
                  </ion-col>
                  <ion-col col-2>
                    <b>Price</b>
                  </ion-col>
                  <ion-col col-2>
                    <b>Supplies</b>
                  </ion-col>
                </ion-row>

                <ion-row *ngFor="let product of order.products">
                  <ion-col col-3>
                    {{product.product_name}}
                  </ion-col>
                  <ion-col col-3>
                    {{order.payment_method_name}}
                  </ion-col>
                  <ion-col col-2>
                    {{product.quantity}}
                  </ion-col>
                  <ion-col col-2>
                    ${{getProductSubTotal(product)}}
                  </ion-col>
                  <ion-col col-2>
                    ${{calculateSuppliesPrice(product.supplies)}}
                  </ion-col>
                </ion-row>

              </ion-grid>

            </ion-col>
            <ion-col col-12>
              <button ion-button class="success" (click)="orderComplete(order)">Finalizada</button>
              <button ion-button (click)="goToTrackingPage(order)">Track</button>
              <button color="dark" ion-button (click)="goToChatPage(order)">Message</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
